body{
    align-items: center;
    text-align: center;
    background-color: #F0F2F5;
}

.facebook_logo{
    height: 7%;
    width: 18%;
    margin-top: 5vh;
    padding: 0;
}

.container{
    padding: 0;
    margin: 0 auto;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2vh;
    height: 48vh;
    width: 60vh;
}

p{
    text-align: center;
    padding-top: 20%;
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;
    color: #3a3a3a;
}


button{
    height: 7vh;
    width: 50vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DDDFE2;
    background-color: #0866FF;
    font-family: inherit;
    font-size: 3vmin;
    font-weight: bold;
    cursor: pointer;  
    color: white;
    text-decoration: none;
}