body{
    align-items: center;
    text-align: center;
    background-color: #F0F2F5;
}

.facebook_logo{
    height: 7%;
    width: 18%;
    margin-top: 5vh;
    padding: 0;
}

.container{
    padding: 0;
    margin: 0 auto;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2vh;
    height: 48vh;
    width: 60vh;
}

p{
    font-size: 3vmin;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    padding-top: 4vh;
}

input, button{
    height: 7vh;
    width: 50vh;
    margin-bottom: 2vh;
    font-size: 2.5vmin;
    font-weight: lighter;
    color: #F0F1F2;
    border-color: #DDDFE2;
    border-width: 1px;
    border-radius: 5px;
}

#submit{
    color: white;
    background-color: #0866FF;
    font-family: inherit;
    font-size: 3vmin;
    font-weight: bold;
    cursor: pointer;
}

a{
    margin-right: 5px;
    color: #0866FF;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    text-decoration: underline;
}
